mongo-data
originalData
node_modules
.DS_Store

pubchem/.env
pubchem/src/plugins/taxonomies/sync/utils/uniqueTaxonomies.mjs
pubchem/src/plugins/pubmeds/sync/utils/__tests__/pubmedTest.xml
pubchem/src/plugins/pubmeds/sync/utils/__tests__/testpub.js
