mongo-data
originalData
node_modules
.DS_Store


docker/src/plugins/taxonomies/sync/utils/uniqueTaxonomies.mjs
docker/src/plugins/pubmeds/sync/utils/__tests__/pubmedTest.xml
docker/src/plugins/pubmeds/sync/utils/__tests__/testpub.js
docker/src/plugins/uspPatents/sync/utils/__tests__/data/2001.xml
docker/coverage
docker/src/plugins/patents/sync/utils/__tests__/data/patentsTest.sorted