MONGODB_URL=mongodb://localhost:27017
MONGO_DB_NAME=pubchem
ORIGINAL_DATA_PATH=../originalData/
PUBCHEM_SOURCE=https://ftp.ncbi.nlm.nih.gov/pubchem/
PUBMED_SOURCE=https://ftp.ncbi.nlm.nih.gov/pubmed/
TAXONOMY_SOURCE=https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.zip
NPASS_SOURCE_GENERALINFO=http://bidd.group/NPASS/downloadFiles/NPASSv1.0_download_naturalProducts_generalInfo.txt
NPASS_SOURCE_ACTIVITY=http://bidd.group/NPASS/downloadFiles/NPASSv1.0_download_naturalProducts_activities.txt
NPASS_SOURCE_PROPERTIES=http://bidd.group/NPASS/downloadFiles/NPASSv1.0_download_naturalProducts_properties.txt
NPASS_SOURCE_SPECIESPAIR=http://bidd.group/NPASS/downloadFiles/NPASSv1.0_download_naturalProducts_species_pair.txt
NPASS_SOURCE_SPECIESINFO=http://bidd.group/NPASS/downloadFiles/NPASSv1.0_download_naturalProducts_speciesInfo.txt
NPATLAS_SOURCE=https://www.npatlas.org/static/downloads/NPAtlas_download.json
LOTUS_SOURCE=https://lotus.naturalproducts.net/download/mongo
COCONUT_SOURCE=https://coconut.naturalproducts.net/download/mongo
CMAUP_SOURCE_INGREDIENTS=http://bidd.group/CMAUP/downloadFiles/CMAUPv1.0_download_Ingredients_All.txt
CMAUP_SOURCE_ACTIVITY=http://bidd.group/CMAUP/downloadFiles/CMAUPv1.0_download_Ingredient_Target_Associations_ActivityValues_References.txt
CMAUP_SOURCE_SPECIESASSOCIATION=http://bidd.group/CMAUP/downloadFiles/CMAUPv1.0_download_Plant_Ingredient_Associations_onlyActiveIngredients.txt
CMAUP_SOURCE_SPECIESINFO=http://bidd.group/CMAUP/downloadFiles/CMAUPv1.0_download_Plants.txt
BIOASSAY_SOURCE=https://ftp.ncbi.nlm.nih.gov/pubchem/Bioassay/Extras/bioassays.tsv.gz
ACTIVITIES_SOURCE=https://ftp.ncbi.nlm.nih.gov/pubchem/Bioassay/Extras/bioactivities.tsv.gz
CIDTOPMID_SOURCE=https://ftp.ncbi.nlm.nih.gov/pubchem/Compound/Extras/CID-PMID.gz

PORT=11015
DEBUG_THROTTLING=10000
PLUGINS=coconut
EXCLUDEPLUGINS=pubmeds
TELEGRAM_BOT_ID=
TELEGRAM_CHAT_ID=

TAXONOMY_DATE_INTERVAL=7 * 24 * 60 * 60 * 1000
PATENT_DATE_INTERVAL=7 * 24 * 60 * 60 * 1000
PUBMED_UPDATE_INTERVAL=7 * 24 * 60 * 60 * 1000
GNPS_DATE_INTERVAL=3 * 24 * 60 * 60 * 1000
BIOASSAY_UPDATE_INTERVAL = 3 * 24 * 60 * 60 * 1000
CMAUP_UPDATE_INTERVAL = 3 * 24 * 60 * 60 * 1000
COCONUT_UPDATE_INTERVAL=3 * 24 * 60 * 60 * 1000